.swatch-hennepin-blue {
    background-color: #0058a4;
    color: white;
}
.swatch-deep-blue {
    background-color: #113c66;
    color: white;
}
.swatch-purple {
    background-color: #3e1151;
    color: white;
}
.swatch-accent-blue-light {
    background-color: #00aeef;
}
.swatch-accent-blue-dark {
    background-color: #44c8f5;
}
.swatch-accent-green-light {
    background-color: #9fcc3b;
}
.swatch-accent-green-dark {
    background-color: #cbdb2a;
}
.swatch-accent-orange-light {
    background-color: #f7941e;
    color: white;
}
.swatch-accent-orange-dark {
    background-color: #ffcb05;
}
.swatch-accent-red-light {
    background-color: #ce1432;
    color: white;
}
.swatch-accent-red-dark {
    background-color: #ef413d;
    color: white;
}